In [1]:
num_rows_batch_publish=5000 # number of objects to be batch published to Scorpio

In [2]:
entity_id_prefix =  "urn:ngsi-ld:AirQualityObserved:Madrid"
entity_type = 'AirQualityObserved'

        entity_obj = Entity(entity_type, entity_id_prefix + sensor_name + ":ID:" + str(int(u)) ) # initialize the entity for the new station

In [3]:
import sys
sys.path.append("/home/scorpio/ngsild-pythonclient-initial_ngsild_client/src/")
import ast
import json
from ngsildclient.client import Client
from ngsildclient.entity import Entity
import csv
import time
from datetime import datetime
import pandas as pd 
import numpy as np

client_obj = Client("localhost", "9090") # connect to scorpio

def publish(entity):
    response = client_obj.temporal_create(entity)
    #print(response)
    if response['status_code']> 400:
        print("ERROR: Cannot publish data from the NGSI client.")
    return response

In [4]:
import pandas as pd
import geopandas as gpd

#gdf_traw_traffic = pd.read_pickle('./../cgarrido/madrid_data/traffic/gdf_raw_traffic_month12.pkl')

In [5]:
gdf_NO2 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_NO2.pkl')
gdf_O3 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_O3.pkl')
gdf_PM10 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_PM10.pkl')
gdf_PM2_5 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_PM2.5.pkl')
gdf_SO2 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_SO2.pkl')
gdf_CO = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_CO.pkl')



gdf_aggr_NO2 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_aggr_NO2.pkl')
gdf_aggr_O3 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_aggr_O3.pkl')
gdf_aggr_PM10 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_aggr_PM10.pkl')
gdf_aggr_PM2_5 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_aggr_PM2.5.pkl')
gdf_aggr_SO2 = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_aggr_SO2.pkl')
gdf_aggr_CO = pd.read_pickle('./../cgarrido/madrid_data/air_pollution/gdf_aggr_CO.pkl')


gdf_NO2

,station_id,geometry,hexagon_id,hexagon_x,hexagon_y,altitude,datetime,year,month,day,hour,minute,weekday,data
0,8.0,POINT (-409913.520 4927391.691),0,0,0,672.0,2022-01-01 00:00:00,2022,1,1,0,0,5,35.0
1,38.0,POINT (-412675.857 4930900.318),5,1,0,699.0,2022-01-01 00:00:00,2022,1,1,0,0,5,56.0
2,60.0,POINT (-410738.954 4938949.357),48,2,-2,715.0,2022-01-01 00:00:00,2022,1,1,0,0,5,43.0
3,18.0,POINT (-415426.039 4923477.938),35,2,3,632.0,2022-01-01 00:00:00,2022,1,1,0,0,5,46.0
4,24.0,POINT (-417152.482 4927070.647),36,3,3,646.0,2022-01-01 00:00:00,2022,1,1,0,0,5,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770875,55.0,POINT (-398586.661 4933360.830),53,-3,-4,619.0,2022-12-31 23:45:00,2022,12,31,23,45,5,51.0
770876,40.0,POINT (-406486.304 4922508.219),12,-1,1,677.0,2022-12-31 23:45:00,2022,12,31,23,45,5,42.0
770877,39.0,POINT (-413166.342 4935683.000),30,2,-1,676.0,2022-12-31 23:45:00,2022,12,31,23,45,5,52.0
770878,48.0,POINT (-410810.432 4930073.380),5,1,0,680.0,2022-12-31 23:45:00,2022,12,31,23,45,5,52.0
770879,54.0,POINT (-402101.519 4920296.320),19,-3,0,629.0,2022-12-31 23:45:00,2022,12,31,23,45,5,53.0

In [6]:
gdf_aggr_NO2

,hexagon_id,hexagon_x,hexagon_y,datetime,year,month,day,hour,minute,weekday,data,lat,lon,altitude,geometry
0,0,0,0,2022-01-01 00:00:00,2022,1,1,0,0,5,35.0,40.424775,-3.674293,672.0,"POLYGON ((-409386.074 4929758.301, -410760.322..."
1,78,-3,-5,2022-01-01 00:00:00,2022,1,1,0,0,5,27.0,40.479848,-3.572226,620.0,"POLYGON ((-398022.043 4937815.996, -399397.423..."
2,30,2,-1,2022-01-01 00:00:00,2022,1,1,0,0,5,41.0,40.481070,-3.703089,676.0,"POLYGON ((-412592.571 4937995.337, -413967.849..."
3,19,-3,0,2022-01-01 00:00:00,2022,1,1,0,0,5,56.0,40.372541,-3.617604,629.0,"POLYGON ((-403073.982 4922121.466, -404447.305..."
4,3,0,-1,2022-01-01 00:00:00,2022,1,1,0,0,5,26.0,40.446249,-3.665232,708.0,"POLYGON ((-408377.342 4932899.399, -409752.003..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700795,3,0,-1,2022-12-31 23:45:00,2022,12,31,23,45,5,46.0,40.446249,-3.665232,708.0,"POLYGON ((-408377.342 4932899.399, -409752.003..."
700796,78,-3,-5,2022-12-31 23:45:00,2022,12,31,23,45,5,40.0,40.479848,-3.572226,620.0,"POLYGON ((-398022.043 4937815.996, -399397.423..."
700797,33,-2,-3,2022-12-31 23:45:00,2022,12,31,23,45,5,25.0,40.454353,-3.609281,660.0,"POLYGON ((-402147.668 4934084.980, -403522.534..."
700798,6,1,1,2022-12-31 23:45:00,2022,12,31,23,45,5,54.0,40.420706,-3.702267,660.0,"POLYGON ((-412500.809 4929163.290, -413874.953..."
700799,19,-3,0,2022-12-31 23:45:00,2022,12,31,23,45,5,53.0,40.372541,-3.617604,629.0,"POLYGON ((-403073.982 4922121.466, -404447.305..."

In [7]:
gdf_airquality_datasets= [gdf_aggr_NO2, gdf_aggr_O3, gdf_aggr_PM10, gdf_aggr_PM2_5,gdf_aggr_SO2,gdf_aggr_CO ]
gdf_airquality_sensor_datasets= [gdf_NO2, gdf_O3, gdf_PM10, gdf_PM2_5,gdf_SO2,gdf_CO ]
gdf_property_list=["NO2", "O3", "PM10",  "PM2_5", "SO2", "CO"]

entity_type_prefix = 'CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean'
index_list=[]
for g in gdf_property_list:
    index_list.append( 'urn:ngsi-ld:' + entity_type_prefix + ':' + g)

index_list

['urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:NO2',
 'urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:O3',
 'urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:PM10',
 'urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:PM2_5',
 'urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:SO2',
 'urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:CO']

In [8]:
print(gdf_aggr_NO2.hexagon_id.unique())

[ 0 78 30 19  3 29 70  2 56 33 14 12 26  4 36 35 48  5 53  6]

In [9]:


def create_sensor_id_list(sensor_id_list, sensor_name): # sensor_name: e.g., NO2, O3, ...
    return_list=[]
    for sensor_id in sensor_id_list:
        return_list.append(entity_id_prefix +   sensor_name   + ":ID:" + str(int(sensor_id))) 
    return return_list

In [10]:
import geojson    
import pandas as pd
from geojson import Polygon
from pyproj import Transformer


transformer = Transformer.from_crs("EPSG:3857", "EPSG:4326") 

def transform_polygon(xx, yy):
    points=[]
    for i in range(len(xx)): # for all points x,y
        result = transformer.transform( xx[i] , yy[i])
        result = (result[1], result[0])
        points.append(result)
    polygon = Polygon([points])  
    return polygon

In [11]:
import time


#indices_df_list=[]
counter=0
df_list = []


for gdf in gdf_airquality_datasets: # do the index calculation for all air quality metrics
   
    index_dict =[]
    relevant_sensor_data= gdf_airquality_sensor_datasets[counter]
    
    # check all available hexagons
    available_hexagons= gdf.hexagon_id.unique()
    print('Available hexagons for the air quality dataset: ' +  str(available_hexagons))
    for hexagon_id in available_hexagons:
        #check all buildings inside the hexagon

        hexagon_data = gdf[gdf['hexagon_id'] == hexagon_id] # yearly data of a particular hexagon where air quality data exists
     
        available_years = hexagon_data['year'].unique() # check different years
        hexagon_sensor_data = relevant_sensor_data[relevant_sensor_data['hexagon_id'] == hexagon_id]
        hexagon_sensor_id_list= hexagon_sensor_data['station_id'].unique()
        
        related_sensor_entityid_list= create_sensor_id_list(hexagon_sensor_id_list, gdf_property_list[counter])

        day_begin_data = hexagon_data[hexagon_data['hour']==0] # daily measurements
        day_begin_data= day_begin_data[day_begin_data['minute']==0] # daily measurements
        all_days_of_year= day_begin_data.datetime.unique() 
        # The annual moving average takes toooo much time. So we do only one annual mean data per hexagon per day.
        for date_time in all_days_of_year:
            #tic = time.perf_counter()
            data_point= hexagon_data[hexagon_data['datetime'] == date_time].iloc[0]
            #print(data_point)
            #print('Date time: ' + str(date_time))
            data_until_date_time = hexagon_data[hexagon_data['datetime'] < date_time]
            current_annual_mean= data_until_date_time['data'].mean() # annual average for the hexagon for the air quality. This applies up until the current time of the year (the number changes through the year)
            #print('Current annual average ' + str(current_annual_average))
            
            
            xx, yy = data_point['geometry'].exterior.coords.xy
            transformed_polygon = transform_polygon(xx,yy)

            d={'related_sensors': related_sensor_entityid_list, 'current_annual_mean' :current_annual_mean, 'index_type': index_list[counter],'hexagon_id':hexagon_id, 'date_time': date_time,'geometry': transformed_polygon}
            #print(d)
            
            index_dict.append(d)
            #toc = time.perf_counter()
            #print(f"Downloaded the tutorial in {toc - tic:0.4f} seconds")


    index_df = pd.DataFrame(index_dict)
    index_df = index_df.dropna() # drop the values that don`t exist (included in the table as NA)
    index_df.to_pickle("./data/index_madrid_" + str(counter)+ ".pkl")
    df_list.append(index_df)

    #indices_df_list.append(index_df)
                                       
    counter+=1

Available hexagons for the air quality dataset: [ 0 78 30 19  3 29 70  2 56 33 14 12 26  4 36 35 48  5 53  6]
Available hexagons for the air quality dataset: [ 0 30 19 33 56  6 70 48 78 36  4 35]
Available hexagons for the air quality dataset: [36 53 14 29  5  4 48 12  2 26]
Available hexagons for the air quality dataset: [36  5  4 29 26 14]
Available hexagons for the air quality dataset: [0 2 6]
Available hexagons for the air quality dataset: [ 0 26  6]

In [12]:
df_list=[]
for i in range(6):
    df = pd.read_pickle("./data/index_madrid_" + str(i) + ".pkl")
    df_list.append(df)

df_list[0]

,related_sensors,current_annual_mean,index_type,hexagon_id,date_time,geometry
1,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:8],60.005208,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,0,2022-01-02,"{'type': 'Polygon', 'coordinates': [[[-3.67757..."
2,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:8],56.697917,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,0,2022-01-03,"{'type': 'Polygon', 'coordinates': [[[-3.67757..."
3,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:8],56.487847,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,0,2022-01-04,"{'type': 'Polygon', 'coordinates': [[[-3.67757..."
4,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:8],53.037760,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,0,2022-01-05,"{'type': 'Polygon', 'coordinates': [[[-3.67757..."
5,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:8],48.755208,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,0,2022-01-06,"{'type': 'Polygon', 'coordinates': [[[-3.67757..."
...,...,...,...,...,...,...
7295,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:35],31.384664,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,6,2022-12-27,"{'type': 'Polygon', 'coordinates': [[[-3.70555..."
7296,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:35],31.444670,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,6,2022-12-28,"{'type': 'Polygon', 'coordinates': [[[-3.70555..."
7297,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:35],31.478145,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,6,2022-12-29,"{'type': 'Polygon', 'coordinates': [[[-3.70555..."
7298,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:35],31.461820,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,6,2022-12-30,"{'type': 'Polygon', 'coordinates': [[[-3.70555..."
7299,[urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:35],31.441893,urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubInd...,6,2022-12-31,"{'type': 'Polygon', 'coordinates': [[[-3.70555..."

from pyproj import Transformer
transformer = Transformer.from_crs("EPSG:3857", "EPSG:4326") 

def transform_polygon(xx, yy):
    points=[]
    for i in range(len(xx)): # for all points x,y
        result = transformer.transform(yy[i], xx[i] )
        points.append(result)
    
    return points




poly = df['geometry'].iloc[0]

print(poly)
xx, yy = poly.exterior.coords.xy
points = transform_polygon(xx,yy)
print(points)

In [ ]:
import time
import shapely


example_flag=False
for entity_index, tmp_gdf in enumerate(df_list): # for each dataset 
    ingestion_starttime= time.perf_counter() 
    example_flag=True

    hexagon_id_list = tmp_gdf.hexagon_id.unique() 
    print("Info: Unique hexagons for the dataset : "+ str(hexagon_id_list))
    feature_list= tmp_gdf.columns.tolist()
    dataset_length = len(tmp_gdf)
    for hexagon_id in hexagon_id_list:
        hexagon_gdf = tmp_gdf[tmp_gdf['hexagon_id']== hexagon_id]
        
        for index, row in hexagon_gdf.iterrows():
            entity_obj = Entity(entity_type_prefix, index_list[entity_index] +  ':Hexagon:' + str(hexagon_id), ["https://raw.githubusercontent.com/smart-data-models/data-models/master/context.jsonld"]) # (re-)initialize the entity
            for f in range(len(feature_list)):
                if(feature_list[f] == 'geometry'): ## GEOPROPERY
                    ### from geojson.geometry import Point, Polygon, MultiLineString
                    entity_obj.add_geoprop("location", row[f], observedAt= datetime.strptime(str(row.date_time), '%Y-%m-%d %H:%M:%S'))
                    #entity_obj.add_prop('location', row[f])  
                elif(feature_list[f]  == 'current_annual_mean'):
                    entity_obj.add_prop('data', row[f], observedAt= datetime.strptime(str(row.date_time), '%Y-%m-%d %H:%M:%S')) ## ObservedAt add also along with the properties
                elif(feature_list[f]  == 'related_sensors'):
                    ### add_rel(name, object, observedAt)
                    related_sensors = row[f]
                    for r in related_sensors:
                        entity_obj.add_rel('providedBy', r, observedAt= datetime.strptime(str(row.date_time), '%Y-%m-%d %H:%M:%S'))
                elif(feature_list[f] not in ['date_time','type']):
                    entity_obj.add_prop(feature_list[f], row[f] , observedAt= datetime.strptime(str(row.date_time), '%Y-%m-%d %H:%M:%S'))                 
            if example_flag:
                print('INFO: Example data from the dataset to be published - as an example on how data looks.')
                print(entity_obj)
                example_flag=False

            publish(entity_obj.to_dict()) # publish the entity
        print("... published data for hexagon: " +  str(hexagon_id))

    ingestion_endtime= time.perf_counter() 
    print('Info: Dataset is published successfully with entity ID: ' + str(index_list[entity_index]) 
          + ' --- It took ' + str(ingestion_endtime -ingestion_starttime) + ' seconds to publish the dataset with length ' + str(dataset_length))

Info: Unique hexagons for the dataset : [ 0 78 30 19  3 29 70  2 56 33 14 12 26  4 36 35 48  5 53  6]
INFO: Example data from the dataset to be published - as an example on how data looks.
{'id': 'urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:NO2:Hexagon:0', 'type': 'CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean', '@context': ['https://raw.githubusercontent.com/smart-data-models/data-models/master/context.jsonld'], 'providedBy': {'type': 'Relationship', 'object': 'urn:ngsi-ld:AirQualityObserved:MadridNO2:ID:8', 'observedAt': '2022-01-02T00:00:00Z'}, 'data': {'type': 'Property', 'value': 60.005208333333336, 'observedAt': '2022-01-02T00:00:00Z'}, 'index_type': {'type': 'Property', 'value': 'urn:ngsi-ld:CityLiveabilityIndex:Madrid:SubIndex:AirQualityAnnualMean:NO2', 'observedAt': '2022-01-02T00:00:00Z'}, 'hexagon_id': {'type': 'Property', 'value': 0, 'observedAt': '2022-01-02T00:00:00Z'}, 'location': {'type': 'GeoProperty', 'value': {"coordinates": [[[-3.677578, 40.437736], [-3.689923, 40.429222], [-3.686635, 40.41626], [-3.671007, 40.411813], [-3.658665, 40.420326], [-3.661947, 40.433287], [-3.677578, 40.437736]]], "type": "Polygon"}, 'observedAt': '2022-01-02T00:00:00Z'}}
... published data for hexagon: 0
... published data for hexagon: 78
... published data for hexagon: 30
... published data for hexagon: 19
... published data for hexagon: 3
... published data for hexagon: 29
... published data for hexagon: 70
... published data for hexagon: 2
... published data for hexagon: 56
... published data for hexagon: 33
... published data for hexagon: 14
... published data for hexagon: 12
... published data for hexagon: 26